
<div class="sibe-bar">
  <header class="header">

  </header>

  <nav class="pages-links">
    <p>
      <a [routerLink]="/" routerLinkActive="active" ></a>
    </p>
    <p>
      <a [routerLink]="/" routerLinkActive="active" ></a>
    </p>
    <p>
      <a [routerLink]="/" routerLinkActive="active" ></a>
    </p>
    <p>
      <a [routerLink]="/" routerLinkActive="active" ></a>
    </p>
    <p>
      <a [routerLink]="/" routerLinkActive="active" ></a>
    </p>
    <p>
      <a [routerLink]="/" routerLinkActive="active" ></a>
    </p>
    <p>
      <a [routerLink]="/" routerLinkActive="active" ></a>
    </p>
  </nav>
</div>
