
<div class="sibe-bar-contenair">
  <header class="header">
    <div class="name-logo">
      <span class="logo">JF.</span>
      <span class="name">jobfinder</span>
    </div>
  </header>

  <nav class="pages-links">

    <a routerLink="" routerLinkActive="active" class="link">Dashboard</a>


    <a routerLink="/type-contrat-et-diplome" routerLinkActive="active" class="link">Type de contrat</a>


    <a routerLink="" routerLinkActive="active" class="link">Diplome</a>


    <a routerLink="" routerLinkActive="active" class="link">Job</a>


    <a routerLink="" routerLinkActive="active" class="link">Candidatures</a>


    <a routerLink="" routerLinkActive="active" class="link">Messagerie</a>


    <a routerLink="" routerLinkActive="active" class="link">Amis</a>

  </nav>
</div>
