
<div class="sibe-bar-contenair">
  <header class="header">
    <div class="name-logo">
      <span class="logo">JF.</span>
      <span class="name">jobfinder</span>
    </div>
  </header>

  <nav class="pages-links">
    <p>
      <a routerLink="" routerLinkActive="active" class="link">Dashboard</a>
    </p>
    <p>
      <a routerLink="" routerLinkActive="active" class="link">Type de contrat</a>
    </p>
    <p>
      <a routerLink="" routerLinkActive="active" class="link">Diplome</a>
    </p>
    <p>
      <a routerLink="" routerLinkActive="active" class="link">Job</a>
    </p>
    <p>
      <a routerLink="" routerLinkActive="active" class="link">Candidatures</a>
    </p>
    <p>
      <a routerLink="" routerLinkActive="active" class="link">Messagerie</a>
    </p>
    <p>
      <a routerLink="" routerLinkActive="active" class="link">Amis</a>
    </p>
  </nav>
</div>
