
<form action="">
  <div class="fields">
    <app-custom-input
      [name]="'username'"
      [label]="'Adresse e-mail'"
      [placeholder]="'nom d\'utilisateur ou courrier'"
      [type]="'email'"
      [required]="true"
    ></app-custom-input>
    <app-custom-input
      [name]="'password'"
      [label]="'Mot de passe'"
      [placeholder]="'Mot de passe'"
      [type]="'password'"
      [required]="true"
    ></app-custom-input>
  </div>
  <div class="send">
    <app-custom-button
      [text]="'Annuler'"
      [textSize]="1"
      [width]="100"
      [height]="30"
      [type]="'button'"
      [color]="'rgb(226, 225, 225, 0.4)'"
    ></app-custom-button>
    <app-custom-button
    class="send_btn"
      [text]="'Se connecter'"
      [textSize]="1"
      [width]="'auto'"
      [height]="30"
      [type]="'submit'"
      [color]="'rgb(45, 227, 13, 0.7)'"
      [left]="100"
    ></app-custom-button>
  </div>

</form>
