.page-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .page-content{
    display: flex;
    flex-direction: column;
    padding: 15px;
    header{
      display: flex;
      flex-direction: row-reverse;
      padding: 20px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 1.1rem;
      font-weight: bold;
    }
    .content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .description{
        display: flex;
        margin: 5px;
        margin-right: 50px;
        justify-content: space-between;
        p{
          font-size: x-large;
          font-weight: bold;
        }
      }
      .data-group{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}

#contrat-group{
  margin-bottom: 10px;
}
