.buble-default{
  background-color: rgb(226, 225, 225, 0.4);
  border-radius: 10px;
  padding: 1px;

  .buble-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;
    margin: 10px;
  }

  .buble-text{
    margin: 10px;
    font-weight: bold;
  }
}
