.landing-content{
  .job{
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .landing-users{
    overflow-y: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
